@charset "UTF-8";

/* ================= HERO ================= */

div.hero {
    width: 100%;
    min-height: 30rem;
    background: linear-gradient(
        to top,
        var(--color-hero-v1),
        var(--color-hero-v2)
    );
    overflow: hidden;
}

.shadow-bottom {
    width: 100%;
    min-height: 30rem;
    background: linear-gradient(
        to bottom,
        #00000000,
        rgba(8, 8, 8, 0.785)
    );
}

/* ---------- CONTAINER ---------- */

.hero-content {
    margin: auto;
    width: 80%;
    min-height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; /* imagem acompanha altura */
    gap: 2rem;
}

/* ---------- TEXTO ---------- */

.hero-text {
    color: var(--color-text-light-primary);
    flex: 1 1 0;
    max-width: 45%;
    padding: 3rem 0;
}

.empresa-hero {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1.9rem;
}

.empresa-hero > span {
    font-size: 1.1rem;
    border-left: 2px solid red;
}

.headline-hero {
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 3rem;
}

.subheadline-hero {
    color: var(--color-text-secondary-light);
    font-size: 1.2rem;
}

/* ---------- IMAGEM ---------- */

.hero-img {
    flex-shrink: 0;
    width: clamp(38rem, 40vw, 38rem);
    min-height: 100%; /* ocupa toda a altura do hero */

    background: url(../assets/hero/business-hero.png) left bottom no-repeat;
    background-size: cover;
}

/* Dispositivos menores */

@media (max-width: 1244px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
        padding: 2rem 0;
    }

    .hero-img {
        background-position: top;
        height: clamp(22rem, 35rem, 38rem);
        width: clamp(12rem, 90vw, 55rem);
    }
}

@media only screen and (max-width: 992px) {
    .hero-img {
        background-position: top;
        height: clamp(18rem, 30rem, 38rem);
        width: clamp(10rem, 100vw, 100vw);
    }
}

@media only screen and (max-width: 768px) {
    .hero-img {
        background-position: top;
        height: clamp(15rem, 25rem, 38rem);
        width: clamp(8rem, 100vw, 100vw);
    }
}

@media only screen and (max-width: 600px) {
    .hero-img {
        background-position: top;
        height: clamp(5rem, 18rem, 50vh);
        width: clamp(5rem, 100vw, 100vw);
    }
}