@charset "UTF-8";

/* Testimonials (compatibility with previous "depoiments-" selectors) */

.testimonials-section {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background: linear-gradient(180deg, var(--color-bg-contrast-light) 0%, var(--color-bg-contrast-dark) 100%);
}

.testimonials-container {
    max-width: 960px;
    border-radius: 1rem;
    padding: 2rem 3rem;
    background-color: var(--color-background);
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.053);
}

.testimonials-container>p {
    font-size: 1.05rem;
    text-align: center;
    margin: auto;
    max-width: 80%;
}

.testimonials-headline {
    font-size: 2rem;
    color: var(--color-primary-dark);
    text-align: center;
}

.testimonials-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.testimonials-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.083);
    border-radius: 0.5rem;
}

.testimonials-card-perfil {
    width: 64px;
    height: 64px;
    margin: 1rem auto;
    border-radius: 50%;
    border: 1px solid var(--color-neutral-medium);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-card-text {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0;
}

.testimonials-card .fa-quote-left {
    font-size: 1.3rem;
    font-weight: 900;
}

.fa-quote-right {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
}

.testimonials-name-perfil {
    display: block;
    text-align: center;
    color: var(--color-primary-dark);
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonials-card-funcao {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 4px;
}

@media screen and (max-width: 600px) {
    .testimonials-section {
        padding: 0;
    }

    .testimonials-container {
        max-width: 100%;
        border-radius: 0;
    }

    .testimonials-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        padding: 0.5rem;
    }
}
